<a href="https://colab.research.google.com/github/Leejungs/2024-1-my-BDA/blob/main/%EB%94%B0%EB%A6%89%EC%9D%B4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 기본 패키지 불러오기

import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("seaborn")
sns.set(font_scale = 1)
sns.set_style("whitegrid")

import plotly.express as px

import chart_studio.plotly as py
import cufflinks as cf
cf.go_offline(connected=True)

import plotly.graph_objects as go
import plotly.offline as pyo
pyo.init_notebook_mode()

from plotly.subplots import make_subplots

import warnings # 경고 메세지 숨기기
warnings.filterwarnings("ignore")

plt.rcParams["font.family"] = 'S-Core Dream' # 한글 폰트 가져오기
plt.rcParams['axes.unicode_minus'] = False # - 기호 깨짐 해결

In [1]:
# 데이터 불러오기

bike_1 = pd.read_csv("공공자전거 대여소 정보_csv", encoding="cp949")
bike_2 = pd.read_csv("서울특별시_공공자전거_이용정보(월별).csv", encoding="cp949")
bike_3 = pd.read_csv("서울특별시_공공자전거_이용정보(시간대별).csv", encoding="cp949")

print(bike_1.shape)
print(bike_2.shape)
print(bike_3.shape)

bike_1.head()
#bike_2.head()
#bike_3.head()

In [ ]:
# 데이터 기본 정보 확인

#bike_1.info()
#bike_2.info()
bike_3.info()

In [ ]:
# 수치형 데이터 통계 확인

#bike_1.describe()
#bike_2.describe()
bike_3.describe()

In [ ]:
# 범주형 데이터 통계 확인

#bike_1.describe(include = np.object_)
#bike_2.describe(include = np.object_)
bike_3.describe(include = np.object_)

In [ ]:
# bike_1 데이터 결측치 확인

bike_1.isnull().sum()

In [ ]:
# bike_1 데이터 결측치 시각화

msno.bar(bike_1)

In [ ]:
# bike_2 데이터 결측치 확인

bike_2.isnull().sum()

In [ ]:
# bike_3 데이터 결측치 확인

bike_3.isnull().sum()

In [2]:
# bike_3 데이터 결측치 시각화 //여기까지가 데이터분석 1

msno.bar(bike_3)

NameError: name 'msno' is not defined

In [3]:
## 3-1 컬럼명 바꾸기
# bike_1 데이터 컬럼명 바꾸기

bike_1.columns = ['대여소번호', '대여소명', '자치구', ' 상세주도', '위도', '경도', '설치시기', '거치대수lcd', '거치대수qr', '운영방식']

bike_1.head(1)

NameError: name 'bike_1' is not defined

In [ ]:
# bike_2 데이터 컬럼명 바꾸기

bike_2.columns = ['대여소명', '대여일자/월', '대여건수']

bike_2.head(1)

In [ ]:
## 3-2 필요없는 컬럼 삭제하기

#bike_1 = bike_1.drop(["상세주소", "위도", "경도"], axis = 1)

print(bike_1.shape)
bike_1.head()

In [ ]:
## 3-3 결측치 처리하기

# bike_1 데이터에서 설치시기가 NaN인 데이터는 수가 매우 적으므로 삭제

dp = bike_1[bike_1["설치시기"].isnull()]
bike_1 = bike_1.drop(dp.index)

bike_1.isnull().sum()

In [ ]:
# bike_1 데이터에서 운영방식에 따라 LCD 또는 QR 거치대의 수가 결정되기 때문에
# 거치대수lcd, 거치대수qr 컬럼의 NaN 값은 0으로 처리

bike_1 = bike_1.fillna(0)

bike_1.isnull().sum()

In [ ]:
# 성별 컬럼 분류 확인

bike_3["성별"].nunique()

In [ ]:
# bike_3 데이터의 성별 값 통일

bike_3[bike_3["성별"] =="f"] = "F"
bike_3[bike_3["성별"] =="m"] = "M"

bike_3["성별"].unique()

In [ ]:
# bike_2 데이터의 대여소명 앞 숫자 분리

bike_2["대여소번호"] = bike_2["대여소명"].str.split(",", expand = Ture)[0]

# 대여소명은 숫자를 땐 값으로 새로운 컬럼 값으로 지정

bike_2["대여소명_new"] = bike_2["대여소명"].str.split(",", expand = True)[1]

print(bike_2.shape)
print(bike_2.isnull().sum())

bike_2.head()

In [ ]:
bike_2[bike_2["대여소명_new"].isnull()].head()

In [ ]:
# bike_2 데이터의 대여소명_new 값이 None 인 데이터 삭제

bike_2 = bike_2.dropna(subset = ["대여소명_new"])

print(bike_2.shape)
print(bike_2.isnull().sum())

bike_2.head()

In [4]:
# bike_3 데이터의 대여소명 앞의 숫자가 삭제된 새로운 대여소명 컬럼 생성

bike_3["대여소명_new"] = bike_3["대여소명"].str.split(",", expand = True)[1]

print(bike_3.shape)
print(bike_3.isnull().sum())

bike_3.head()

NameError: name 'bike_3' is not defined

In [ ]:
# bike_3 데이터의 대여소명_new 값이 None 인 데이터 삭제

bike_3 = bike_3.dropna(subset = ["대여소명_new"])

print(bike_3.shape)
print(bike_3.isnull().sum())

bike_3.head()

In [ ]:
## 3-4 컬럼 타입 변경

# bike_1 데이터의 대여소번호를 object 타입으로 변경

bike_1["대여소번호"] = bike_1["대여소번호"].astype("object")

bike_1.info()

In [ ]:
# bike_3 데이터의 이용건수, 이동거리, 사용시간을 수치형 데이터로 변경

bike_3["이용건수"] = pd.to_numeric(bike_3["이용건수"])
bike_3["이동거리"] = pd.to_numeric(bike_3["이동거리"])
bike_3["사용시간"] = pd.to_numeric(bike_3["사용시간"])

bike_3.info()

In [6]:
# bike_3 데이터의 운동량과 탄소량을 수치형으로 변경하려고 하면 "\n" 이라는 값 때문에 변경이 안됨
# 따라서, "\n" 값을 -1로 변경 후 수치형으로 변경(-1인 이유는 실제로 0인 데이터와 구분짓기 위함)

# bike_3 데이터의 운동량, 탄소량 컬럼의 "\n" 값을 -1로 변경

bike_3["운동량"][bike_3["운동량"] == r"\n"] = -1
bike_3["탄소량"][bike_3["탄소량"] == r"\n"] = -1

NameError: name 'bike_3' is not defined

In [ ]:
# bike_1 데이터의 설치시기, bike_3 데이터의 대여일자를 날짜 타입으로 변경 // 데이터분석 2

bike_1["설치시기"] = pd.to_datetime(bike_1["설치시기"])
bike_3["대여일자"] = pd.to_datetime(bike_3["대여일자"])

bike_1.info()
#bike_3.info()